<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add products</title>
</head>
<style>
    body{
        background-image:linear-gradient(to right,lightyellow,lightblue);
        margin-top:100px;
        font-weight:bold;
    }
    button{
        padding:5px 8px;
        color:white;
        background-color:darkblue;
    }
</style>
<body>
    <center>
    <h1><u>
        Add Products
    </u></h1>
    <form method="post" action="{% url 'add_product_details' %}">
        
        {% csrf_token %}
        
        <label>Enter Product Name:</label>
        <input type="text" name="product_name"><br><br><br>
        <label>Enter Product Description:</label>
        <textarea rows="3" cols="15" name="description"></textarea><br><br><br>
        <label>Enter Product Quantity:</label>
        <input type="number" name="quantity"><br><br><br>
        <label>Enter Product Price:</label>
        <input type="number" name="price"><br><br><br>
        
        <button type="submit">Submit</button>

    </form>
</center>
</body>
</html>