<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    

</head>
<style>
body{
    background-image:linear-gradient(to right,lightyellow,lightblue);
    margin-top:100px;
    font-weight:bold;
}
</style>
<body>
    <center>
    <h1><u>Show Product Deatils</u></h1>
    <table border="1px" bgcolor="lightgrey">
        <thead>
            <tr>
                <th>PRODUCT ID</th>
                <th>PRODUCT NAME</th>
                <th>PRODUCT DESCRIPTION</th>
                <th>PRODUCT QUANTITY</th>
                <th>PRODUCT PRICE</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for p in product %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.product_name }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.quantity }}</td>
                <td>{{ p.Price }}</td>
                <td><a href="{% url 'editpage' p.id  %}">Edit</a>
                    <br>
                    <a href="{% url 'deletepage' p.id  %}">Delete</a>
                </td>
            </tr>
        {% endfor %}                    
        </tbody>
    </table>
</center>
</body>
</html>